/*Inicio Search advanced*/
.advanced{
	background-color: white;
	.btn-filtros{
		background-color:white;
		color:black;
		border: 0.5px solid black;
	}
	.btn-filtros:hover{
		background-color: #ff5a5f;
		border: 0.5px solid white;
		color:white;
	}
	.advan-one{
		margin-top: 5rem;
	}
	.text-14{
		font-size: 14px;
		text-align: right;
	}
	.btn-aplicar{
		background-color: #ff5a5f;
		width: 15rem;
	}
	.btn-aplicar:hover{
		background-color: #f79295;
	}
	.icons-arrow{
		font-size: 25px;
	}
}
// termina seccion search advanced//


// inicio seccion first filter//

body{
	font-family: 'Montserrat', sans-serif;
	color:$color_principal;
}

nav {
	background-color:#fafafa;
	.ciudades{
		position:relative;
		left: 150px;
		#cajaCiudad{
			p{
				position: relative;
			    top: -80px;
				left: 40px;
			}
		}
	}
	ul a{
		color:#000;
	}
}

.mi-ul{
	position: relative;
    bottom: 155px;
}

.brand-logo{
	img{
    width: 76px;
    padding-left: 49%;
    padding-top: 15%;
	}
}

hr{
	border: 1px solid #eee;
}

.filter{
	.waves-effect{
		background-color:#fafafa;
		color:#000;
	}
}

	.box{
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-radius: 4px;
    height:50px;
  }

.first-filter{
	padding-top:20px;
	.tipoHabitacion{
	padding-top:20px;
	.rangoPrecio{
	padding-top:20px;
}
  }
}

 [type=checkbox]+label{
	font-size:12px;
}
// fin seccion first filter//







// comienza seccion home page//

nav, nav a, nav ul a, span.badge.new{
	color: $color_principal;
}

.mi-btn{
	@include btn();
}

.inputs{
	@include inputs();
}

input[type=text]:not(.browser-default){
	border-bottom: none;
}

.titulo{
	font-weight: 700;
	color: $color_btn;
}

.reserva{
	font-size: 38px;
	font-weight: 100;
	color: $color_principal;
	a{
		color: $color_principal
	}
}

.titulos-footer{
    font-size: 14px;
    font-weight: 600;
    color: $color_principal;
}

.elementos-footer{
	padding-right: 2%;
	font-size: 13px;
}

.footer{
	border-top: 1px solid $color_principal;
	color: $color_principal;
	border-top: 1px solid #9e9e9e;
}
	/*Mapa*/
body{
	.col.l5.m5.s12{
		.cajaMap{
			/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       		height: 100vh;
		    #map {
		        height: 100%;
		      }
		      /* Optional: Makes the sample page fill the window. */
/* 		      html, body {
		        height: 100%;
		        margin: 0;
		        padding: 0;
		      } */
		      table {
		        font-size: 12px;
		      }
		      #map {
		        width: 440px;
		      }
/* 		      #listing {
		        position: absolute;
		        width: 200px;
		        height: 470px;
		        overflow: auto;
		        left: 442px;
		        top: 0px;
		        cursor: pointer;
		        overflow-x: hidden;
		      } */
/* 		      #findhotels {
		        position: absolute;
		        text-align: right;
		        width: 100px;
		        font-size: 14px;
		        padding: 4px;
		        z-index: 5;
		        background-color: #fff;
		      } */
		      #locationField {
		        position: absolute;
		        width: 190px;
		        height: 25px;
    			top: 102px;
		        z-index: 5;
		        background-color: #fff;
		      }
		      #controls {
		        position: absolute;
			    /* left: 300px; */
			    width: 140px;
			    top: 102px;
			    z-index: 5;
			    background-color: #fff;
			    right: 192px;
		      }
		      #autocomplete {
		        width: 100%;
		      }
		      #country {
		        width: 100%;
		      }
		      .placeIcon {
		        width: 20px;
		        height: 34px;
		        margin: 4px;
		      }
		      .hotelIcon {
		        width: 24px;
		        height: 24px;
		      }
/* 		      #resultsTable {
		        border-collapse: collapse;
		        width: 240px;
		      } */
/* 		      #rating {
		        font-size: 13px;
		        font-family: Arial Unicode MS;
		      }
		      .iw_table_row {
		        height: 18px;
		      }
		      .iw_attribute_name {
		        font-weight: bold;
		        text-align: right;
		      }
		      .iw_table_icon {
		        text-align: right;
		      } */
		}
	}
	#footerFilter{
		ul{
			position:relative;
			display: inline-flex;
			li{
				a{
					padding-left: 80%;
				}
			}
		}
	}
}

//termina seccion home//